<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My World!!!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<header>
    <div>
        <nav class="navbar">
            <div class="justify-content-end container-fluid">
                <ul>
                    <a th:href="@{/Usuarios/Agregar}">Agregar usuario</a>
                    <a th:href="@{/Usuarios}">Listar usuario</a>
                    <a th:href="@{/Shutdown}">Cerrar sesion</a>
                </ul>
            </div>
        </nav>
    </div>
</header>
    <div class="container-fluid text-center">
        <h1>Aplicacion en java</h1>
        <a class="h2">UwU</a>
    </div>
</body>
</html>