<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <title>Lista de usuarios</title>
    </head>
    <body>
        <header>
            <div>
                <nav class="navbar">
                    <div class="justify-content-end container-fluid">
                        <ul>
                            <a th:href="@{/Usuarios/Agregar}">Agregar usuario</a>
                            <a th:href="@{/Usuarios}">Listar usuario</a>
                            <a th:href="@{/Shutdown}">Cerrar sesion</a>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <section>
            <div class="container-fluid text-center">
                <h1>Lista de Usuarios</h1>
            </div>
            <div class="container-fluid text-center">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Contraseña</th>
                            <th>Email</th>
                            <th>Edad</th>
                            <th>Controles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:block th:each="usuario: ${listaDeUsuarios}">
                            <td th:text="${usuario.id}"></td>
                            <td th:text="${usuario.nombre}"></td>
                            <td th:text="${usuario.contrasenia}"></td>
                            <td th:text="${usuario.email}"></td>
                            <td th:text="${usuario.edad}"></td>
                            <td>
                                <a>Editar</a>
                                <a>Borrar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>